/*Jared Custom CSS*/

/*Buttons*/
.panel-default div.list-group{ height: 60vh;}
a.btn-info{padding: 6px; border-radius: 4px; float: right; margin-left: 10px;}
a.btn-info:hover{text-decoration: none;}

